<template name="allPage">
    <div class="gallery-page">
      <div class="block-wrapper">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>

        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>

        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
      </div>
    </div>
</template>