<template name="invitationLucy">
    <div class='portfolio-page'>

        <div class="page-header">
            <div class="quote-mark-left"></div>
            <div class="quote-mark-right"></div>
            <div class="page-category">
                handmade
            </div>
            <div class="page-header-text">
                ПРИГЛАШЕНИЕ НА СВАДЬБУ</br>
                Люси и Ильи
            </div>
        </div>

        <div class="page-subtext">
            Это пригласительные для моей подруги Люси. Люся очень замечательный и интересный человек.</br>
            Но, что Люся, когда Илья (её будущий муж) поросил сдлать свадьбу в стиле сказочного леса!</br>
            В оформлении предполагалось использовать листья фисташки, тюльпаны, трахелиум, лизиантус, шишки.</br>
            Так и родилась идея пригласительного с маленьким букетиком, лентой и красивыми ретро-брэдсами.</br>
            Когда я все это придумала, я и представить не могла, что сборка пригласительных может занять СТОЛЬКО времени! Неделю без сна, ночная пересылка пригласительных поездом Белгород-Омск и счастливая Люся.
        </div>

        <div class="sub-header">
            <span class="sub-header-text">
                Материалы
            </span>
        </div>

        {{smoothImage src='/portfolio/handmade/1.png'}}

        <div class="sub-header">
            <span class="sub-header-text">
                Процесс
            </span>
        </div>

        {{smoothImage src='/portfolio/handmade/2.png'}}

        {{smoothImage src='/portfolio/handmade/3.png'}}

        <div class="sub-header">
            <span class="sub-header-text">
                Работа
            </span>
        </div>

        {{smoothImage src='/portfolio/handmade/4.png'}}

    </div>
</template>