<template name="header">
    <a href="/">
	   <div class="header-logo"></div>
    </a>
    
    <div class="header-menu">
        
        <div class="header-divider sprite-arrow-left"></div>
        
        <div class='header-link about'>
            <a href="/about">ABOUT</a>
        </div>
        
        <div class="header-divider sprite-arrow-center"></div>
        
        <div class='header-link portfolio'>
            <a href="/portfolio">PORTFOLIO</a>

            <div class="header-link-dropdown">
                <a href="/portfolio/graphic-design">                
                    <div class="header-dd-link gra">
                        GRAPHIC DESIGN
                    </div>
                </a>
                <a href="/portfolio/handmade">                    
                    <div class="header-dd-link ill">
                        HANDMADE
                    </div>
                </a>
                <a href="/portfolio/package">                    
                    <div class="header-dd-link pac">
                        PACKAGE
                    </div>
                </a>
                <a href="/portfolio/all">                    
                    <div class="header-dd-link all">
                        ALL
                    </div>
                </a>
            </div>
        </div>
        
        <div class="header-divider sprite-arrow-center"></div>
        
        <div class='header-link blog'>
            <a href="/blog">BLOG</a>
        </div>
        
        <div class="header-divider sprite-arrow-center"></div>
        
        <div class='header-link contacts'>
            <a href="/contacts">CONTACTS</a>
        </div>
        
        <div class="header-divider sprite-arrow-right"></div>
    </div>
</template>