<template name="mainPage">
    <div class="main-page">
        <div class="pattern">
            <div class="row pull-left">

                <div class="s big s1 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>
                <div class="s big pull-left">
                    <div class="s"></div>
                    <div class="s s2">
                        <div class="bg">
                            {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="row pull-left">
                
                <div class="s big pull-left">
                    <div class='s pull-left'></div>
                    <div class='s pull-left'></div>
                    <div class='s pull-left'></div>
                    <div class="s s8 pull-left">
                        <div class="bg">
                            {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                    </div>
                </div>
                
                <div class="s big s3 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>
                
                <div class="s big pull-left">
                    <div class="s s4">
                        <div class="bg">
                            {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                    </div>
                    <div class="s s5">
                        <div class="bg">
                            {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="row pull-left">
                
                <div class="s big pull-left">
                    <div class='s pull-left'></div>
                    <div class='s s9 pull-left'>
                        <div class="bg">
                            {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                    </div>
                </div>
                <div class="s s8 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>
                <div class="s big s6 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>
                <div class="s big s7 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg" }}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>
            </div>
            
        </div>

        <div class="pattern-small">
            <div class="row pull-left">

                <div class="s big s1 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>
                <div class="s big s3 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>

            </div>
            <div class="row pull-left">
                <div class="s big s6 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg"}}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>
                <div class="s big s7 pull-left">
                    <div class="bg">
                        {{smoothBg src="http://upload.wikimedia.org/wikipedia/commons/9/97/%D0%94%D0%B5%D0%B3%D0%B0._%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D1%8B%D0%B5_%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D0%B2%D1%89%D0%B8%D1%86%D1%8B.jpg" }}
                    </div>
                    <div class="descr">
                        <h3>Degas</h3>
                        Tänzerinnen in Blau
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>