<template name="portfolioPage">
    <div class="portfolio-page">
        <a href="/portfolio/graphic-design">    
            <div class="block">
                <div class="block-header">
                    GRAPHIC DESIGN
                </div>
            </div>
        </a>
        <a href="/portfolio/handmade">    
            <div class="block handmade">
                {{smoothBg src="/portfolio/handmade/6.png"}}
                <div class="block-header">
                    HANDMADE
                </div>
            </div>
        </a>
        <a href="/portfolio/package">    
            <div class="block">
                <div class="block-header">
                    PACKAGE
                </div>
            </div>
        </a>
        <a href="/portfolio/all">    
            <div class="block">
                <div class="block-header">
                    ALL
                </div>
            </div>
        </a>
    </div>
</template>